@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #fff8fc;
  color: #374151;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ffe4f2;
}

::-webkit-scrollbar-thumb {
  background: #ec4899;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #db2777;
}

/* Text Selection */

::selection {
  background: #ec4899;
  color: white;
}

/* Button */

button {
  cursor: pointer;
}

/* Image */

img {
  user-select: none;
}

/* Animasi Floating */

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }
}

.floating {
  animation: floating 4s ease-in-out infinite;
}

/* Fade Up */

@keyframes float {
  0% {
    transform: translateY(0) scale(0.8);
    opacity: 0;
  }

  20% {
    opacity: 0.35;
  }

  100% {
    transform: translateY(-120vh) scale(1.2);
    opacity: 0;
  }
}

.floating {
  animation: floating 4s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }
}